

.audio-p{
    font-size: large;
    display: inline-block;
    width: 30%
}

.slide-div{
    height: 200px;
    width: 200px;
    vertical-align: top;
    display: inline-block;
}
.slide-img{
    max-width:50%;
    max-height:auto;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: solid 1px white
}
.audio{
    vertical-align: top;
    display: inline-block;
    width: fit-content;
}
.audio-content{

}
.footer{
    border-top: solid 1px white;
}
.arrow.left{
    height: 60%;
    border-radius: 0px !important; 
    border-right: solid 1px white;
}
.arrow.right{
    height: 60%;
    border-radius: 0px !important; 
    border-left: solid 1px white;
}
.arrow > img{
    width: 15px;
    height: 15px !important;

}

