.icon{
    width: 50px;
}
.contact{
    margin-left: 50px;
    text-align:  left;
}
a{
    color: white;
    margin: 10px;
}
label{
    font-size:  large;
}

input,label{
    font-size:  large;
    margin: 10px;
    color: white;
    background: transparent;
}

.message-input{
    width: 70%;
    padding-bottom: 200px;
    line-height: 2px;
    
}
