.table-img{
    display: inline-block;
    width: 70px;
}
table{
    margin: 0px auto;
    margin-top: 50px;
    text-align: center;
    border-collapse: collapse;
}
td{

    padding: 5px;
    border: 1px solid white;
}

.table-p{
    display: inline-block;
    width: 50%;
    font-size: large;
}
.skills{
    margin-left: 1rem;
    margin-right: 1rem;
}

td {
    padding-top: 10ppx;
}