.tabs{
    margin: 2px;
    background: transparent;
    color: white;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 2px;
    border: hidden;
    z-index: 10;
}
.tabs:hover{
    background: #166fe4c0;
}

.tabs-container{
    margin-left: 50px;
    margin-right: 50px;
    background: #1466d14f;
    position: relative;
    display: flex;
    list-style-type: none;
}

#content{
    position: relative;
    z-index: 10;
}

.burgerMenu {
    height: 32px;
    border: none;
    background: transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.burgerMenu:focus {
    outline: none;
}

.burger_line {
    background: white;
    height: 2px;
    width: 30px;
}