.tabs{
    margin: 2px;
    background: transparent;
    color: white;
    padding-bottom: 2px;
    border: hidden;
    z-index: 10;
    max-width: 200px;
    box-sizing: border-box;
}
.tabs:hover{
    background: #166fe4c0;
}

.tabs-container{
    margin-right: auto;
    margin-left: auto;
    list-style: none;
    padding-left: 0;
    background: #1466d14f;
    position: relative;
    display: flex;
    list-style-type: none;
    max-width: 1000px;
    justify-content: space-evenly;
}

#content{
    position: relative;
    z-index: 10;
}

.burgerMenu {
    display: none;
    height: 32px;
    width: 10%;
    border: none;
    background: transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.burgerMenu:focus {
    outline: none;
}

.burger_line {
    background: white;
    height: 2px;
    width: 30px;
}

@media (max-width: 768px) {
    .tabs-container, .element-wrapper{
        display: block;
    }
}