.profile-img{
    vertical-align: top;
    width: 15%;
    border: solid rgb(196, 193, 193);
}

.profile-card{
    padding: 10px;
}
h1{
    color: #ffffffe1;
    letter-spacing: 2.5px;
    font-style: italic;
}

.about-p{
    margin-left: 10px;
    text-align: justify;
    font-size: smaller;
    display: inline-block;
    width: 50%;
 }
